.flex-container {
	display: flex;
	flex-wrap: wrap;
	background-color: aqua;
	justify-content: space-around;
	align-items: stretch;
}

.flex-container > div {
	background-color: black;
	width: 200px;
	margin: 5px;
	text-align: center;
	line-height: 100px;
	font-size: 20px;
}

.product-names {
	font-size: 15px;
}