.flex-container {
	display: flex;
	flex-wrap: wrap;
	background-color: aqua;
	justify-content: space-around;
	align-items: stretch;
}

.flex-container > div {
	background-color: black;
	width: 20%;
	margin: 5px;
	text-align: center;
	line-height: 50px;
}
