.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
  justify-content: space-around;
  align-items: stretch;
}

.flex-container > div {
  background-color: black;
  width: 22%;
  margin: 5px;
  text-align: center;
  line-height: 50px;
}

@media screen and (max-width: 1000px) {
  .flex-container > div {
    width: 30%;
    padding: 10px;
    margin: 5px;
  }
}

@media screen and (max-width: 250px) {
  .flex-container {
    flex-direction: column;
  }
}
